// Fix for Roboto font path
$roboto-font-path: '../assets/';

// Materialize styles
@import "materialize";

//.container {
//  margin-right: 90px;
//}

.side-nav {
  &.myClass {
    left: 0;
    transform: inherit;
    position: relative;
  }
}


.ember-cli-g-map{
  height: 600px;
}

$primary-color: color("indigo", "lighten-2");
