// Fix for Roboto font path
$roboto-font-path: '../assets/';

// Materialize styles
@import "materialize";

//.container {
//  margin-right: 90px;
//}

.side-nav {
  &.myClass {
    left: 0;
    transform: inherit;
    position: relative;
  }
}

//.g-map-canvas {
//  width: 100%;
//  height: 100%;
//}

.g-map{
  height: 100%;
}
.g-map-canvas {
  width: 100%;
  height: 100%;
}

$primary-color: color("indigo", "lighten-2");
