<div class="row">
  <h4 class="header">Dashboard</h4>
  <div class="col s4">
    <div class="card horizontal">
      <div class="card-image">
        <img src="assets/list.png" class="center">
        <h5><b>JO List</b></h5>
      </div>
      <div class="card-stacked">
        <div class="card-content center">
          <h1>7</h1>
          <p>Today</p>
        </div>
        <div class="card-action center">
          <p>Completed:
            <b>3</b>
            <a href="">Details</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col s4">
    <div class="card horizontal">
      <div class="card-image">
        <img src="assets/technician.png" class="center">
        <h5><b>Technicians</b></h5>
      </div>
      <div class="card-stacked">
        <div class="card-content center">
          <h1>15</h1>
          <p>Today</p>
        </div>
        <div class="card-action center">
          <p>On Progress:
            <b>3</b>
            <a href="">Details</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col s4">
    <div class="card horizontal">
      <div class="card-image">
        <img src="assets/customer.png" class="center">
        <h5><b>Customers</b></h5>
      </div>
      <div class="card-stacked">
        <div class="card-content center">
          <h1>25</h1>
          <p>Total</p>
        </div>
        <div class="card-action center">
          <p>In Handling:
            <b>5</b>
            <a href="">Details</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<br />
<div class="card">
  <h4 class="header"><b>10 Recent For Job Order</b></h4>
  <table class="highlight">
    <thead>
      <tr>
        <th>JO Number</th>
        <th>Technitian</th>
        <th>Address</th>
        <th>Job Desk</th>
        <th>Time Appoinment</th>
        <th>Customer</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <a href="#"><td>123456789</td></a>
        <td>Alvin</td>
        <td>Eclair</td>
        <td>$0.87</td>
        <td>lorem</td>
        <td>lorem</td>
        <td>lorem</td>
        <td>lorem</td>
      </tr>
      <tr>
        <a href="#"><td>123456789</td></a>
        <td>Alvin</td>
        <td>Eclair</td>
        <td>$0.87</td>
        <td>lorem</td>
        <td>lorem</td>
        <td>lorem</td>
        <td>lorem</td>
      </tr>
      <tr>
        <a href="#"><td>123456789</td></a>
        <td>Alvin</td>
        <td>Eclair</td>
        <td>$0.87</td>
        <td>lorem</td>
        <td>lorem</td>
        <td>lorem</td>
        <td>lorem</td>
      </tr>
      <tr>
        <a href="#"><td>123456789</td></a>
        <td>Alan</td>
        <td>Jellybean</td>
        <td>$3.76</td>
      </tr>
      <tr>
        <a href="#"><td>123456789</td></a>
        <td>Jonathan</td>
        <td>Lollipop</td>
        <td>$7.00</td>
      </tr>
      <tr>
        <a href="#"><td>123456789</td></a>
        <td>Alvin</td>
        <td>Eclair</td>
        <td>$0.87</td>
        <td>lorem</td>
        <td>lorem</td>
        <td>lorem</td>
        <td>lorem</td>
      </tr>
      <tr>
        <a href="#"><td>123456789</td></a>
        <td>Alvin</td>
        <td>Eclair</td>
        <td>$0.87</td>
        <td>lorem</td>
        <td>lorem</td>
        <td>lorem</td>
        <td>lorem</td>
      </tr>
      <tr>
        <a href="#"><td>123456789</td></a>
        <td>Alvin</td>
        <td>Eclair</td>
        <td>$0.87</td>
        <td>lorem</td>
        <td>lorem</td>
        <td>lorem</td>
        <td>lorem</td>
      </tr>
      <tr>
        <a href="#"><td>123456789</td></a>
        <td>Alan</td>
        <td>Jellybean</td>
        <td>$3.76</td>
      </tr>
      <tr>
        <a href="#"><td>123456789</td></a>
        <td>Jonathan</td>
        <td>Lollipop</td>
        <td>$7.00</td>
      </tr>
    </tbody>
  </table>
</div>
